# Environment files
.env


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files (too large for GitHub)
*.safetensors
*.bin
finetuned/
sentiment_model/
emotion_model_stage1/
multitask_model/
sentiment_with_emotion_model/

# Specific files to ignore
new_code.py
true_duplicates.csv
preprocess.py
fix_data_leakage.py
inspect_overlap.py
finetuned/sanity_check.py
data/preprocess_data.ipynb

# Dashboard
dashboard/node_modules/
dashboard/.next/

# Analysis computed outputs (regeneratable)
analysis/data/

# Results   (test hypothesis)
results/*

# Model upload
push_to_hub.py